<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Launch year:</strong>
    <%= movie.launch_year %>
  </p>
  
  <% if show_cast %>
  <p>
    <strong>Cast:</strong>
    <ul>
      <% movie.actors.each do |actor| %>
        <li>
          <%= actor.name %>
        </li>
      <% end %>
    </ul>
  </p>
  <% end %>

</div>
