<p style="color: green"><%= notice %></p>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie, show_details: false %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
