<div id="<%= dom_id review %>">
  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= review.movie.title %>
  </p>
</div>
