<p style="color: green"><%= notice %></p>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to t(:show_review), review %>
    </p>
  <% end %>
</div>

<%= link_to t(:new_review), new_review_path %>
