<header>
  <h2>CESARFlix</h2>

  <nav>
    <a href="/movies">Movies</a> | 
    <a href="/actors">Actresses & Actors</a> | 
    <a href="/reviews">Reviews</a> |
    <a href="/logs">Logs</a>
  </nav>
</header>